Codigo_sensor02/flow_thermal_inversion.json
[
    {
        "id": "6b9d9be06217a520",
        "type": "tab",
        "label": "Thermal Inversion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7461047c88238353",
        "type": "group",
        "z": "6b9d9be06217a520",
        "name": "GRAPHS",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.6",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "eb8fc7c5305176b5",
            "a8ec2812e34722e7",
            "dfaff516dd04358d",
            "de2133b2eacf37c1",
            "9ce42cba6c156063",
            "be30a9b16c35c8fb",
            "589ef45709d76fcf",
            "d07711d20ea39558",
            "7105d5161c76efa0",
            "d4cfda287b714b57",
            "ecc3f00c7eeb0ef9",
            "22a13259a5753d66",
            "319904513129ead1",
            "74a8099fb584263c",
            "696439cb8f8576ab",
            "7a3b39daad72e2e3",
            "39a1042fcb5444c9",
            "94e93d1ff55b338d"
        ],
        "x": 754,
        "y": 319,
        "w": 372,
        "h": 522
    },
    {
        "id": "4b664ff04ff4ae15",
        "type": "group",
        "z": "6b9d9be06217a520",
        "name": "MQTT IN (TTN)",
        "style": {
            "label": true,
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.6",
            "color": "#6f2fa0"
        },
        "nodes": [
            "6686a6c75366c24d",
            "c04d32448766cc80"
        ],
        "x": 274,
        "y": 159,
        "w": 192,
        "h": 122
    },
    {
        "id": "7078a336d913e060",
        "type": "group",
        "z": "6b9d9be06217a520",
        "name": "FILTERING (INFLUXDB)",
        "style": {
            "label": true,
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.6",
            "color": "#ffC000"
        },
        "nodes": [
            "77935af198f55f2c",
            "bc4ed25e72bbda3a"
        ],
        "x": 494,
        "y": 159,
        "w": 232,
        "h": 122
    },
    {
        "id": "6686a6c75366c24d",
        "type": "mqtt in",
        "z": "6b9d9be06217a520",
        "g": "4b664ff04ff4ae15",
        "name": "ti01 mqtt in",
        "topic": "v3/thermal-inversion@ttn/devices/ti01/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ce22083765ec4347",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "c04d32448766cc80",
                "77935af198f55f2c"
            ]
        ]
    },
    {
        "id": "77935af198f55f2c",
        "type": "function",
        "z": "6b9d9be06217a520",
        "g": "7078a336d913e060",
        "name": "function 1",
        "func": "var bateria = msg.payload.uplink_message.decoded_payload.battery;\nvar humedad = msg.payload.uplink_message.decoded_payload.humidity;\nvar presion = msg.payload.uplink_message.decoded_payload.pressure;\nvar temperatura = msg.payload.uplink_message.decoded_payload.temperature;\nvar pm25 = msg.payload.uplink_message.decoded_payload.pm25;\nvar pm10 = msg.payload.uplink_message.decoded_payload.pm10;\n\n\n\nmsg.payload = { bateria: bateria, humedad: humedad, presion: presion, temperatura: temperatura, pm25:pm25, pm10:pm10 };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "bc4ed25e72bbda3a",
                "9ce42cba6c156063",
                "be30a9b16c35c8fb",
                "589ef45709d76fcf",
                "ecc3f00c7eeb0ef9",
                "696439cb8f8576ab",
                "7a3b39daad72e2e3",
                "a8ec2812e34722e7",
                "eb8fc7c5305176b5",
                "dfaff516dd04358d",
                "d4cfda287b714b57",
                "319904513129ead1",
                "74a8099fb584263c"
            ]
        ]
    },
    {
        "id": "c04d32448766cc80",
        "type": "debug",
        "z": "6b9d9be06217a520",
        "g": "4b664ff04ff4ae15",
        "name": "mqtt raw",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc4ed25e72bbda3a",
        "type": "debug",
        "z": "6b9d9be06217a520",
        "g": "7078a336d913e060",
        "name": "filtered payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "eb8fc7c5305176b5",
        "type": "ui_gauge",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "d347a6f570e06c58",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Presión",
        "label": "hPa",
        "format": "{{payload.presion}}",
        "min": 0,
        "max": "1700",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "a8ec2812e34722e7",
        "type": "ui_gauge",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "d347a6f570e06c58",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{payload.temperatura}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "dfaff516dd04358d",
        "type": "ui_gauge",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "d347a6f570e06c58",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{payload.humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 680,
        "wires": []
    },
    {
        "id": "de2133b2eacf37c1",
        "type": "ui_chart",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "649bb4d67dac8225",
        "order": 1,
        "width": 8,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff8800",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9ce42cba6c156063",
        "type": "change",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "set temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "de2133b2eacf37c1"
            ]
        ]
    },
    {
        "id": "be30a9b16c35c8fb",
        "type": "change",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "set presion",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.presion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "d07711d20ea39558"
            ]
        ]
    },
    {
        "id": "589ef45709d76fcf",
        "type": "change",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "set humedad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humedad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "7105d5161c76efa0"
            ]
        ]
    },
    {
        "id": "d07711d20ea39558",
        "type": "ui_chart",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "649bb4d67dac8225",
        "order": 3,
        "width": 8,
        "height": 6,
        "label": "Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9e9e9e",
            "#aec7e8",
            "#fa8a29",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7105d5161c76efa0",
        "type": "ui_chart",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "649bb4d67dac8225",
        "order": 2,
        "width": 8,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d4cfda287b714b57",
        "type": "ui_gauge",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "d347a6f570e06c58",
        "order": 6,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Batería",
        "label": "bit",
        "format": "{{payload.bateria}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#e30202",
            "#e6e600",
            "#38cb1a"
        ],
        "seg1": "1500",
        "seg2": "300",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 720,
        "wires": []
    },
    {
        "id": "ecc3f00c7eeb0ef9",
        "type": "change",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "set bateria",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bateria",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "22a13259a5753d66"
            ]
        ]
    },
    {
        "id": "22a13259a5753d66",
        "type": "ui_chart",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "649bb4d67dac8225",
        "order": 6,
        "width": 8,
        "height": 7,
        "label": "Batería",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#db1414",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "319904513129ead1",
        "type": "ui_gauge",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "d347a6f570e06c58",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "PM2.5",
        "label": "ug/m3",
        "format": "{{payload.pm25}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#02e31d",
            "#e6e600",
            "#cb1a1a"
        ],
        "seg1": "100",
        "seg2": "400",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 760,
        "wires": []
    },
    {
        "id": "74a8099fb584263c",
        "type": "ui_gauge",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "d347a6f570e06c58",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "PM10",
        "label": "ug/m3",
        "format": "{{payload.pm10}}",
        "min": "0",
        "max": "1000",
        "colors": [
            "#02e31d",
            "#e6e600",
            "#cb1a1a"
        ],
        "seg1": "100",
        "seg2": "400",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "696439cb8f8576ab",
        "type": "change",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "set pm25",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm25",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 520,
        "wires": [
            [
                "39a1042fcb5444c9"
            ]
        ]
    },
    {
        "id": "7a3b39daad72e2e3",
        "type": "change",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "set pm10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pm10",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 560,
        "wires": [
            [
                "94e93d1ff55b338d"
            ]
        ]
    },
    {
        "id": "39a1042fcb5444c9",
        "type": "ui_chart",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "649bb4d67dac8225",
        "order": 4,
        "width": 8,
        "height": 7,
        "label": "PM2.5",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bdbdbd",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "94e93d1ff55b338d",
        "type": "ui_chart",
        "z": "6b9d9be06217a520",
        "g": "7461047c88238353",
        "name": "",
        "group": "649bb4d67dac8225",
        "order": 5,
        "width": 8,
        "height": 7,
        "label": "PM10",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#828282",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "ce22083765ec4347",
        "type": "mqtt-broker",
        "name": "thermal_inversion_01",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d347a6f570e06c58",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "70d73fe51c911712",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "649bb4d67dac8225",
        "type": "ui_group",
        "name": "Lines",
        "tab": "70d73fe51c911712",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70d73fe51c911712",
        "type": "ui_tab",
        "name": "Graphs Thermal Inversion",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]